body {
    font-family: sans-serif;
}

header {
    text-align: center;
    color: #797979;
    margin-bottom: 2rem;
}

.images {
    width: 50%;
}

.images img {
    width: 100%;
}

#reset {
    display: none;
}